<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>com.ebook.Servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>com.ebook.Servlets.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminRegistrationServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.adminRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.ebook.Servlets.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailsServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.BookDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetailsAdminServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.BookAddDetailsAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAddDetailsServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.BookAddDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAddDetailsServlets</servlet-name>
        <servlet-class>com.ebook.Servlets.BookAddDetailsServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllBookDisplayServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.AllBookDisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBooksServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.EditBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllBookHomeServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.ViewAllBookHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookDetailServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.ViewBookDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCardDetailsServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.AddToCardDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartBookServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.CartBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartBookServlets</servlet-name>
        <servlet-class>com.ebook.Servlets.CartBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartSectionBookServletS</servlet-name>
        <servlet-class>com.ebook.Servlets.CartSectionBookServletS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCardDetailsUpdateServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.AddToCardDetailsUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddressSaveServlets</servlet-name>
        <servlet-class>com.ebook.Servlets.UserAddressSaveServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserSavedAddressServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.DisplayUserSavedAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPaymentServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.UserPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrderBookServelets</servlet-name>
        <servlet-class>com.ebook.Servlets.UserOrderBookServelets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPaymentServletForAllBook</servlet-name>
        <servlet-class>com.ebook.Servlets.UserPaymentServletForAllBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfirmSingleBookServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.OrderConfirmSingleBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfirmAllBooksServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.OrderConfirmAllBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookByAddToCardAervlet</servlet-name>
        <servlet-class>com.ebook.Servlets.RemoveBookByAddToCardAervlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrderHistryServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.UserOrderHistryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayOrderdProductAdminServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.DisplayOrderdProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderConfirmedServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.AdminOrderConfirmedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAdminConfirmedOrderServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.DisplayAdminConfirmedOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileUpdateServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.UserProfileUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserContactUsServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.UserContactUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRazorpayOrderId</servlet-name>
        <servlet-class>com.ebook.Servlets.CreateRazorpayOrderId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRazorpayOrderIdServlets</servlet-name>
        <servlet-class>com.ebook.Servlets.CreateRazorpayOrderIdServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRazorpayOrderIdServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.CreateRazorpayOrderIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveChatUserServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.LiveChatUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiveChatWebSocketServlets</servlet-name>
        <servlet-class>com.ebook.Servlets.LiveChatWebSocketServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowUserChatServlet</servlet-name>
        <servlet-class>com.ebook.Servlets.AdminShowUserChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <url-pattern>/UserRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminRegistrationServlet</servlet-name>
        <url-pattern>/adminRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailsServlet</servlet-name>
        <url-pattern>/BookDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetailsAdminServlet</servlet-name>
        <url-pattern>/BookDetailsAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAddDetailsServlet</servlet-name>
        <url-pattern>/BookAddDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAddDetailsServlets</servlet-name>
        <url-pattern>/BookAddDetailsServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllBookDisplayServlet</servlet-name>
        <url-pattern>/AllBookDisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBooksServlet</servlet-name>
        <url-pattern>/EditBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllBookHomeServlet</servlet-name>
        <url-pattern>/ViewAllBookHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookDetailServlet</servlet-name>
        <url-pattern>/ViewBookDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCardDetailsServlet</servlet-name>
        <url-pattern>/AddToCardDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartBookServlet</servlet-name>
        <url-pattern>/CardBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartBookServlets</servlet-name>
        <url-pattern>/CartBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartSectionBookServletS</servlet-name>
        <url-pattern>/CartSectionBookServletS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCardDetailsUpdateServlet</servlet-name>
        <url-pattern>/AddToCardDetailsUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddressSaveServlets</servlet-name>
        <url-pattern>/UserAddressSaveServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserSavedAddressServlet</servlet-name>
        <url-pattern>/DisplayUserSavedAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPaymentServlet</servlet-name>
        <url-pattern>/UserPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrderBookServelets</servlet-name>
        <url-pattern>/UserOrderBookServelets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPaymentServletForAllBook</servlet-name>
        <url-pattern>/UserPaymentServletForAllBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfirmSingleBookServlet</servlet-name>
        <url-pattern>/OrderConfirmSingleBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfirmAllBooksServlet</servlet-name>
        <url-pattern>/OrderConfirmAllBooksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookByAddToCardAervlet</servlet-name>
        <url-pattern>/RemoveBookByAddToCardAervlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrderHistryServlet</servlet-name>
        <url-pattern>/UserOrderHistryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayOrderdProductAdminServlet</servlet-name>
        <url-pattern>/DisplayOrderdProductAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderConfirmedServlet</servlet-name>
        <url-pattern>/AdminOrderConfirmedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAdminConfirmedOrderServlet</servlet-name>
        <url-pattern>/DisplayAdminConfirmedOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileUpdateServlet</servlet-name>
        <url-pattern>/UserProfileUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserContactUsServlet</servlet-name>
        <url-pattern>/UserContactUsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRazorpayOrderId</servlet-name>
        <url-pattern>/CreateRazorpayOrderId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRazorpayOrderIdServlets</servlet-name>
        <url-pattern>/CreateRazorpayOrderIdServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRazorpayOrderIdServlet</servlet-name>
        <url-pattern>/CreateRazorpayOrderIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveChatUserServlet</servlet-name>
        <url-pattern>/LiveChatUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiveChatWebSocketServlets</servlet-name>
        <url-pattern>/LiveChatWebSocketServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowUserChatServlet</servlet-name>
        <url-pattern>/AdminShowUserChatServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
